
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplam Kategori Sayısı</p>
                    <h6 class="mb-0">@ViewBag.totalCategory</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplam Kurs Sayısı</p>
                    <h6 class="mb-0">@ViewBag.totalCourse</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Toplam Kurs fiyatı</p>
                    <h6 class="mb-0">@ViewBag.totalCoursePrice</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Deneme Kurs Ücreti</p>
                    <h6 class="mb-0">@ViewBag.getDenemeCoursePrice</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-apple-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Kurs Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.avgReview</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-cloud fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">30 ₺'den Pahalı Kurs Sayısı</p>
                    <h6 class="mb-0">@ViewBag.getOver30Price</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-blog fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son Eklenen Kurs fiyatı</p>
                    <h6 class="mb-0">@ViewBag.getLastCoursePrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-dragon fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">2 Nolu ID'ye Ait Kurs</p>
                    <h6 class="mb-0">@ViewBag.getTitleByCourseID2</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-arrows-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Yazılım Kategorisindeki Kurs Sayısı</p>
                    <h6 class="mb-0">@ViewBag.softwareCourseCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-broadcast-tower fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Yüksek Kurs Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.maxCoursePrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-baby fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Düşük Kurs Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.minCoursePrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-house-damage fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Pahalı Kurs</p>
                    <h6 class="mb-0">@ViewBag.mostExpensiveCourse</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-brush fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son Kurs Adı</p>
                    <h6 class="mb-0">@ViewBag.lastCourseTitle</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Ortalama Yazılım Kurs Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.avgPriceForSoftwareCourse ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-database fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son 3 Kurs Toplam Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.last3CourseTotalPrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-egg fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Değerli Kurs</p>
                    <h6 class="mb-0">@ViewBag.getCourseCategorySoftwareAndReviewMore20Score</h6>
                </div>
            </div>
        </div>
    </div>
</div>

